<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')   %> 
</head>
<body>
    <%- include('partials/header.ejs') %> 

    <section class="container">
        <%- include('partials/navbar.ejs') %>

        <article class="content">
            <h1>Produtos</h1>

            <div class="galery">
                <% products.forEach(produto => { %>
                    <div>
                        
                        <img src="<%=produto.urlfoto %>" alt="">
                        
                        
                        <div class="starbar">

                            <% if(produto.stars){ 
                                for(let x=0; x< produto.stars; x++){
                            %> 
                                <img class="star" src="images/star.png" alt="">            
                            <% }} %> 

                        </div>
                    </div>
                    
                    
                <% }) %>


            </div>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit aperiam ea dolor rerum itaque culpa assumenda officiis provident commodi facere, possimus veritatis ab? Mollitia delectus qui ipsam voluptate harum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit aperiam ea dolor rerum itaque culpa assumenda officiis provident commodi facere, possimus veritatis ab? Mollitia delectus qui ipsam voluptate harum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit aperiam ea dolor rerum itaque culpa assumenda officiis provident commodi facere, possimus veritatis ab? Mollitia delectus qui ipsam voluptate harum?</p>
            
            

        </article>
    </section>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %> 

    
</body>
</html>